body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.board{
    background-color: rgb(210, 177, 241);
    display: grid;
    height: 400px;
    width: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
}

.cell{
    border: 2px solid black;
    font-size: 100px;
    font-family: sans-serif;
    text-align: center;
}

.gameInfo{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;;
}

.playerSubmission {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;;
}